@charset "utf-8";

/* CSS Document */

// base
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
ol,
ul { list-style: none; }
blockquote,
q { quotes: none; }
blockquote:before,
blockquote:after,
q:before,
q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
.clearfix { clear: both; zoom: 1; }
.clearfix:after { display: block; visibility: hidden; height: 0; line-height: 0; font-size: 0; clear: both; content: ""; zoom: 1; }
.fl { float: left; }
.fr { float: right; }
a { color: #fff; text-decoration: none;
    &:focus,
    &:active,
    &:visited { color: #fff; }
    &:hover { color: #fff; text-decoration: none; }
}

/* px2rem rem换算 */
@function px2rem($px, $base-font-size:72px) { 
    @if (unitless($px)) {
        @warn "Assuming # { $px } to be in pixels, attempting to convert it into pixels for you";
        @return px2rem($px + 0px); // That may fail.
    }
    @else if (unit($px) == rem) { @return $px; }
    @return ($px / $base-font-size) * 1rem;
}

/* rem换算为：720px页面实际像素/72 rem */
body { width: 100%; max-width: 540px; margin: 0 auto; background: #95d7ea; color: #1e324c; }
.page { }
.main { position: relative; height: px2rem(1165px); background: url(../images/main_bg_1.jpg) center top no-repeat; background-size: 100% auto; 
    .star-btn { position: absolute; left: px2rem(150px); top: px2rem(886px); width: px2rem(426px); height: px2rem(122px); }
    .star-btn-gif { position: absolute; left: px2rem(150px); top: px2rem(886px); width: px2rem(426px); height: px2rem(127px); background: url(../images/star_btn.gif) no-repeat; background-size: 100%; }
    .main-top-bg { width: 100%; height: px2rem(434px); background: url(../images/main_top_bg_1.png) center top no-repeat; background-size: 100% auto; }
    .main-gif-bg { width: 100%; height: px2rem(434px); background: url(../images/main_gif_bg.gif) center top no-repeat; background-size: auto 100%;}

    .q1{position: absolute; left: px2rem(204px); top: px2rem(990px-146px); width: px2rem(93px); height:px2rem(24px);background: url(../images/q1.gif) center no-repeat; background-size: 100% auto;}
    .q2{position: absolute; left: px2rem(355px); top: px2rem(884px-146px); width: px2rem(61px); height:px2rem(51px);background: url(../images/q2.gif) center no-repeat; background-size: 100% auto;}
    .q3{position: absolute; left: px2rem(123px); top: px2rem(908px-146px); width: px2rem(59px); height:px2rem(42px);background: url(../images/q3.gif) center no-repeat; background-size: 100% auto;}
    .q4{position: absolute; left: px2rem(544px); top: px2rem(891px-146px); width: px2rem(47px); height:px2rem(44px);background: url(../images/q4.gif) center no-repeat; background-size: 100% auto;}

}
.btn-top { display: block; position: absolute; top: px2rem(24px + 25px); width: px2rem(181px); height: px2rem(62px); line-height: px2rem(62px); background: url(../images/btn_top.png) no-repeat; background-size: 100% auto; text-align: center; font-size: 14px; color: #fff; }
.btn-new:after { position: absolute; left: px2rem(6px); top: px2rem(-4px); content: ''; width: px2rem(20px); height: px2rem(20px); background-color: #f9221a; border-radius: px2rem(10px) }
.btn-top-left { left: px2rem(20px); }
.btn-top-right { right: px2rem(20px); }
.info { height: px2rem(116px); line-height: px2rem(116px); text-align: center; font-size: 14px;
    span { color: #ff0202; }
}
.award { width: px2rem(680px); height: px2rem(778px); margin: 0 auto; background: url(../images/box_1.png) center top no-repeat; background-size: 100% auto; }
.sponsor { width: px2rem(680px); height: px2rem(590px); margin: px2rem(20px) auto; background: url(../images/box_2.jpg) center top no-repeat; background-size: 100% auto; }

.slide-info { position: absolute; left: 0; top: 0; z-index: 19; width: 100%; height:20px; overflow: hidden; background: rgba(0,0,0,.7) url(../images/speaker.png) 5px center no-repeat; background-size: auto 75%;}
.slide-box { width: 100%; height: 100%; overflow: hidden; line-height: 20px; margin-left: 30px; 
    li { float: left; font-size: 12px; color: #fff;}
    marquee { font-size: 12px; color: #fff; }
}


/* 弹窗 */
.shade { display: none; position: fixed; top: 0; left: 0; z-index: 20; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7); }
// 活动规则，我的奖品
.pop-box { display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);/*position: absolute;   top: 3.083333rem; */ z-index: 30; width: 100%; }
.rule { width: px2rem(530px); padding-top: px2rem(30px); color: #a95b05;
    p { padding-bottom: px2rem(20px); font-size: 15px; line-height: 1.6em; }
}
.pop-con-top { width: px2rem(692px); height: px2rem(72px); overflow: hidden; margin-bottom: -1px; background: url(../images/pop_top.png) left top no-repeat; background-size: 100% auto; }
.pop-bottom { width: px2rem(692px); height: px2rem(72px); overflow: hidden; margin-top: -1px; background: url(../images/pop_bottom.png) left top no-repeat; background-size:100% auto; }
.pop-close { float: right; display: block; width: px2rem(72px); height: px2rem(72px); }
.pop-con { width: px2rem(692px-120px); padding-left: px2rem(120px); background: url(../images/pop_re.png) left repeat-y; background-size: 100% auto; }
.award-blank { display: block; width: px2rem(520px); height: px2rem(700px); padding: px2rem(40px) 0; background: url(../images/blank.png) center no-repeat; background-size: 100% auto; }
.pop-tit { width: px2rem(234px); height: px2rem(56px); overflow: hidden; line-height: 666; background: url(../images/tit.png) no-repeat; background-size: auto 200%; }
.pop-tit-0 { background-position: 0 0; }
.pop-tit-1 { background-position: 0 bottom; }

.pop-tit-tips { margin-bottom: px2rem(30px);
    span,em { font-size:17px;float: left;}
    span { border-bottom: 1px solid #0da0d9;color: #0da0d9; }
    em { border-bottom: 1px solid #da4646;color: #da4646; }
}
.tit-tips { margin-bottom: px2rem(10px); font-size:16px; color: #a95b05; }
.btn-copy { display: inline-block; padding: px2rem(3px) px2rem(7px); margin-left: px2rem(5px); border: 1px solid #f5aa41; font-size: 10px; background-color: #fcf3d2; color: #d09351; -webkit-text-size-adjust:none; vertical-align: center;
    &:hover,
    &:active,
    &:visited { color: #a95b05; }
}

.pop-main { height: px2rem(750px); overflow-y: scroll; margin-top: px2rem(30px); }
.award-item { width: px2rem(520px); padding: px2rem(20px) 0 px2rem(20px); border-bottom: 1px dashed #f2e2ca;
    &:first-child { padding-top: 0; }
    &:last-child { border-bottom: none; }
    p { float: left; width: 100%; margin-top: px2rem(15px); font-size: 12px; color: #d9a873; 
        span { display: block;
            &:first-child { float: left; }
            &:nth-child(2) { margin-left: 60px; }
        }
    }
}
.award-img { float: left; width: px2rem(126px); height: px2rem(126px); overflow: hidden; border-radius: px2rem(20px);
    img { width: 100%; height: 100%; }
}
.award-name { float: left; width: px2rem(190px); margin-left: px2rem(20px);
    strong { display: block; font-size: 15px; color: #a95b05; }
    span { display: block; font-size: 12px; color: #ca8e4b; }
}
.btn-award { float: right; width: px2rem(160px); height: px2rem(51px); margin-top: px2rem(36px);  background: url(../images/btn.jpg) center top no-repeat; background-size: 100% auto; text-align: center; font-size: 14px; line-height: px2rem(46px);
    .down_text { display: block; width: 100%; height: 100%;  color: #9e5900; }
}
// 钱钱钱弹窗
.pop2-con-top { position: relative; width: px2rem(538px); height: px2rem(367px); margin: 0 auto -1px; background: url(../images/pop2_top.png) center top no-repeat; background-size: 100% auto;
    .pop2-close { position: absolute; left: px2rem(430px); top: px2rem(190px); z-index: 99; width: px2rem(68px); height: px2rem(68px); }
}
.cover { position: absolute; width: px2rem(660px); height: px2rem(340px); background: url(../images/cover.png) center no-repeat; background-size: 100% auto; top: 50%; left: 50%; transform: translate(-50%, -47%); -webkit-transform: translate(-50%, -47%); }
.pop-award { width: px2rem(538px); height: px2rem(518px); margin: 0 auto; padding-top: px2rem(30px); background: url(../images/pop2_bottom.png) top center no-repeat; background-size: 100% auto; text-align: center; }
.pop-award-tit { margin-bottom: px2rem(40px); font-size: 16px; color: #ffdc1a; }
.pop-award-tit2 { margin: px2rem(30px) 0 px2rem(50px); font-size:22px; line-height: 1.5em;}
.pop-award-app { width: px2rem(126px); height: px2rem(126px); margin: 0 auto px2rem(20px); border-radius: px2rem(24px); overflow: hidden;
    img { width: 100%; height: 100%; }
}
.pop-award-pic { width: px2rem(218px); height: px2rem(218px); margin: 0 auto px2rem(30px);
    img { width: 100%; height: 100%; }
}
.pop-award-name { margin-bottom: px2rem(30px); font-size: 13px; color: #ffdc1a; }
.btn-qqq { background: url(../images/btn_qqq.png) center top no-repeat; }
.btn-qd { background: url(../images/btn_qd.png) center top no-repeat; }
.btn-lq { background: url(../images/btn_lq.png) center top no-repeat; }
.btn-jp { background: url(../images/btn_jp.png) center top no-repeat; }
.btn-zl { background: url(../images/btn_zl.png) center top no-repeat; }
.pop-btn { display: inline-block; width: px2rem(367px); height: px2rem(100px); background-size: 100% auto; }
.pop-award-info { margin-top: px2rem(10px); font-size: 12px; color: #f86f6f; }
.award-sub { margin-bottom: px2rem(10px); padding: .15rem 0; color: #ffdc1a; text-align: center; vertical-align: middle;
    input { width: 4.5rem; height: 0.694444rem; margin-left: .2rem; padding: 0 5px; border: none; border-radius: 3px; background-color: #f7e6b7; font-size: 12px; }
}
.error { height: 16px; margin: .3rem 0 .45rem; text-align: center; color: #d95858; font-size: 12px; }
// 通用弹窗
.pop3-con { position: relative; width: px2rem(537px); height: px2rem(520px); margin: 0 auto; background: url(../images/pop_bg.png) center top no-repeat; background-size: 100% auto; text-align: center;
    .cover { transform: translate(-50%, -115%); -webkit-transform: translate(-50%, -115%); }
}
.pop3-close { position: absolute; z-index: 99; right: px2rem(-20px); top: px2rem(-20px); width: px2rem(71px); height: px2rem(71px); background: url(../images/close_btn.png) center no-repeat; background-size: 100% 100%; }
.pop3-main { height: px2rem(220px); padding-top: px2rem(150px);
    .p-tit { font-size: 23px; line-height: 1.5em; color: #ffdc1a; }
    .p-p { margin-top: px2rem(20px); font-size: 14px; color: #fff; }
}
// 挽留弹窗
.pop4-con { position: relative; width: px2rem(567px); height: px2rem(664px); margin: 0 auto; background: url(../images/back.png) center no-repeat; background-size: 100% auto;
    .cover { transform: translate(-50%, -120%); -webkit-transform: translate(-50%, -120%); }
    .pop3-close { right: px2rem(60px); }
    .pop4-btn { position: absolute; top: px2rem(390px); height: px2rem(84px); }
    .pop4-btn-l { left: px2rem(48px); width: px2rem(196px); }
    .pop4-btn-r { left: px2rem(256px); width: px2rem(274px); }
}

.pop-award-loading{width:px2rem(150px);height:px2rem(150px);margin:0 auto;padding:0.6rem;background-repeat:no-repeat; background-size:100% 100%; background-position:center center;background-image: url(../images/award.gif);}

