# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Checkingdemo_JS
/psd
/uploadimg
/images/source

# production

# misc
hiapk.png
.DS_Store
*.zip
*.rar
*.php
*.psd
